body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://lh3.googleusercontent.com/proxy/2EIj_ZZOaXEmQH1iW2Kmu5nLvY1dWimqiUp7lB6YAFeO4on6zISDjnnQpzE8HisKNcMhG3P7VqCz5Vb7D9MgqsCGuFc4lWdZ7AgoudzLc1Kdcb4C9iRzHDrVi9OnZ66gVCCXr9Pr5J1s_z-JPPpJ4vDwvXC8_zZhXBXSTHe-Qg);
    background-origin: inherit;
    background-size: cover;
}

#contentback{
    background: rgba(0, 0, 0, 0.7);
}

.fa{
    font-size:24px;
}

.navbar-toggler{
    background-color: #39FF14;
}

.navbar{
    background-color: black;
    color:#39FF14;
    }

    .nav-item{
        color: #39FF14;
    }

    .nav-item:hover {
        background-color: #39FF14;
        color: black;
    }

article{
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
    font-size: larger;
    color: #39FF14;
}

section{
    margin-top: 10px;
    margin-bottom: 20px;
}

#profilepic{
    max-width: 100%;
    max-height: 100%;
    border-radius: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    margin-top: 20px;
}

.profilepics{
    border-radius: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 100%;
    border-style: dotted;
    margin-top: 40px;
}
.content{
    margin-left:15px;
}

footer{
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
    bottom: 0;
}

.navbar-brand{
    font-weight: bold;
}


h3{
    margin-top: 10px;
}

.row{
    color:#39FF14;
}

body{
    background-color: #dbf3ff;
}



@media screen and (max-width: 600px) {
}